.reminder-item-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  .reminder-item {
    width: 60%;
    max-width: 380px;
    .reminder-item-name {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .action-buttons {
    button {
      width: 80px;
    }
  }
}

.save-button {
  display: flex;
  justify-content: flex-end;
  button {
    width: 177px;
  }
}
